<div class="masthead">
  <div class="container">
<h1>My admin app</h1>
    masthead
  </div>
</div>
<div>
<router-outlet></router-outlet>
</div>
<div class="page-foot">
  <div class="container">
    <span>&copy; 2018</span>
    <ul>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/legal">Legal</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
    <span>Site by <a href="http://www.lowelogic.com" target="lowelogic">LOWElogic</a>.com</span>
  </div>
</div>

